.main{
    display: flex;
    height: 750px;
    background: #212121;
    align-items: center;
    justify-content: center;
    padding: 10px 80px;
    text-align: center;
}

.titulos h1{
    color: #fff;
    font-size: 5.3rem;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 40px;
}

.span{
    color: #1479EA;
}

.titulos h2{
    color: #fff;
    font-size: 3.3rem;
    margin-bottom: 30px;
}

.titulos p{
    color: #fff;
    font-size: 1.7rem;
    margin-bottom: 60px;
}

/*.button{
    color: #17cf97;
    font-size: 1.5rem;
    font-weight: 600;
    height: 80px;
    width: 200px;
    cursor: pointer;
    background: transparent;
    border-radius: 35px;
    border: 4px solid #17cf97;
    transition: 0.3s ease-in-out;
}

.button:hover{
    background: #17cf97;
    color: #1b2430;
}

*/
.button{
    width: 13em;
    position: relative;
    height: 4em;
    border: 3px ridge rgb(28, 170, 202);
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.button::after{
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform: center;
}

.button::before{
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
}

.button:hover::before, .button:hover::after{
    transform: scale(0);
}

.button:hover{
    box-shadow: inset 0px 0px 25px #1479EA;
}

/*.button2{
    color: #1b2430;
    font-size: 1.5rem;
    font-weight: 600;
    height: 80px;
    width: 200px;
    cursor: pointer;
    background: #17cf97;
    margin-left: 20px;
    border-radius: 35px;
    transition: 0.3s ease-in-out;
}

.button2:hover{
    color: #17cf97;
    background: transparent;
    border: 4px solid #17cf97;
}
*/
.button2{
    width: 13em;
    position: relative;
    margin-left: 20px;
    height: 4em;
    border: 3px ridge rgb(28, 170, 202);
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.button2::after{
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform: center;
}

.button2::before{
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
}

.button2:hover::before, .button2:hover::after{
    transform: scale(0);
}

.button2:hover{
    box-shadow: inset 0px 0px 25px #1479EA;
}