.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 950px;
    background: #212121;
}



.textoabout h1{
    color: #fff;
    margin-bottom: 30px;
    font-size: 4.3rem;
    font-weight: 700;
}

.img{
    display: flex;
    height: 380px;
    width: 300px;
    border-radius: 10%;
    border: 3px solid #1479EA;
    margin-bottom: 50px;
}

.foto{
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.descripcion{
    margin-bottom: 30px;
    color: #fff;
    font-size: 2rem;
}

.descrip{
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}
