.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 950px;
    background: #384f6d;
}

.textoabout{
    margin-top: 60px;

}

.textoabout h1{
    color: #fff;
    margin-bottom: 50px;
    font-size: 4.3rem;
    font-weight: 700;
}

.img{
    display: flex;
    height: 350px;
    width: 300px;
    border-radius: 30%;
    border: 3px solid #17cf97;
    margin-bottom: 50px;
}

.foto{
    width: 100%;
    height: 100%;
    border-radius: 40%;
}

.descripcion{
    margin-bottom: 30px;
    color: #fff;
    font-size: 2rem;
}

.descrip{
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}
