.footer{
    display: flex;
    justify-content: space-between;
    background-color: #1479EA;
    align-items: center;
    height: 100px;
}

.footerelement{
    font-size: 1.180rem;
    font-weight: 600;
    color: #fff;
    margin: 10px 50px;
}